*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

nav{    
    display: flex;
    padding: 15px 15px;
    align-items: initial;
    justify-content: space-between;
    margin: 50px 50px;

}

nav ul li{
    display:inline-block;
    
}

nav ul li a{
    color: black;
    font-size: xx-large;
    padding: 20px;
}

nav ul li a:hover{
    color: darkblue;
}

aside{
    border: 1px black solid;
    width: 35%;
    min-height: 100vh;
    border-right: darkgreen solid 15px;
}

h2{
    color: darkblue;
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
    
}

.hero{
    background-color: aqua;
}

article{
    display: flex;
    justify-content: flex-end;
}


@media (300px <= width <=600px)  {
    body{
        background-color: blue;
    }
}